.cv-main {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cv-toolbar {
  display: flex;
}

.cv-content {
  padding: 30px 20px;
  box-shadow: 0 2px 4px var(--shadow);
}

.cv-content>* {
  border-bottom: 1px solid #000;
  /* margin: 10px; */
}

.cv-content>*:last-child {
  border: none;
}

.cv-header {
  padding-bottom: 5px;
}

.cv-section {
  padding: 10px 0;
}

.cv-section:last-child {
  padding: 10px 0 0 0;
}

.cv-inputs {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}