$colors: (
  primary: (
    light: #cbd5e1,
    main: #64748b,
    dark: #334155,
    darker: #0f172a,
  ),
  secondary: (
    light: #93c5fd,
    main: #3b82f6,
    dark: #1d4ed8,
    darker: #1e3a8a,
  ),
  tertiary: (
    light: #fda4af,
    main: #f43f5e,
    dark: #be123c,
    darker: #881337,
  ),
  neutral: (
    lighter: #f9fafb,
    light: #d1d5db,
    main: #6b7280,
    dark: #374151,
    darker: #111827,
  ),
);
